* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

.header-class {
    display: flex;
    align-items: center;
    height: 10%;
    background-color: #fff;
    border-bottom: 1px solid #bdbdbd;
}

.header-title {
    width: 40%;
}

.managment-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.managment-buttons a,
button,
.btns input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 0;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    box-shadow: 0 0 9px black;
    margin: 5%;
    border: 100%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: red;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.btns input, .btns button {
    width: 130px;
    margin-right: 0;
}

.managment-buttons div {
    padding: 10%;
    display: inline;
    border: 1px;
    border-color: black;
}

.main-text {
    font-size: 30px;
    text-align: center;
}

.user-operations {
    text-align: center;
    font-size: 40px;
    width: 100%;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #bdbdbd;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.solver {
    display: flex;
}

.solver .grid {
    flex: 0 0 50%;
}

.solver .instruction {
    flex: 0 0 20%;
}

.creater > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 35px;
    height: 100%;
    width: 100%;
}

.solver {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.solver > div {
    margin: 0 35px;
}

.crossword {
    border: 1px;
    width: 100%;
    border-color: black;
    border-spacing: 0ch;
}

.crossword tr {
    margin: 0%;
    padding: 0%;
}

.crossword td {
    border-color: black;
    border: 10pt;
    margin: 0%;
    padding: 0%;
}

.crossword input {
    width: 100%;
    /* height: 10em; */
    text-align: center;
    /* font-size: 100%; */
}

tbody td {
    width: 50px;
    height: 50px;
}

tbody td input {
    width: 100%;
    height: inherit;
}

h1 {
    text-align: center;
}

.questions {
    justify-content: center;
    justify-items: center;
    padding-left: 10px;
    height: 100%;
}

.instruction {
    border: 1px solid black;
    flex-basis: 20%;
    height: 60%;
}

.grid,
.crossword-container {
    flex-basis: 40%;
}

.settings {
    flex-basis: 25%;
}

.creater > div > div,
.solver > div {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    margin-top: 50px;
}

main {
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
    justify-content: center;
    background-color: #ff0000;
    /* 1407752585 */
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 20px black;
    width: 25%;
    border: none;
    border-radius: 15px;
    padding-bottom: 20px;
}

.sign-up form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
    padding-right: 10%;
}

.field input {
    margin-left: 10px;
    font-size: 30px;
    width: 60%;
}

.solver .field.question,
.creater .field.question {
    justify-content: space-between;
}

.field textarea {
    width: 60%;
}

.sign-up .submit-container input {
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: 1px solid red;
}

.managment-buttons a,
.sign-up .submit-container input,
.btns button, .btns input {
    background-color: red;
    transition-delay: .3s;
    transition-timing-function: linear;
}

.managment-buttons a:hover,
.sign-up .submit-container input:hover
.btns button:hover, .btns input:hover {
    background-color: #fff;
    border-color: red;
    color: red;
}

.solver .field,
.creater .field {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
.solver .field input,
.creater .field input {
    margin-left: 0;
    font-size: 15px;
}

.label {
    display: flex;
    width: 50%;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

.grid .field {
    padding-right: 0;
}

.grid .field .btns {
    width: 100%;
    justify-content: center;
    padding-right: 0;
}

.grid .field .btns input {
    width: 30%;
}

.saved {
    justify-content: center;
    justify-items: center;
}